<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:action="@{/admin/edit}" th:object="${users}" method="POST">
    <label for="id">id</label>
    <input type="text" id="id" th:field="*{id}" th:value="${users.id}" required>
    <div style="color: red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Name error</div>
    <br><br>
    <label for="name">Last name</label>
    <input type="text" id="name" th:field="*{name}" th:value="${users.name}" required>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br><br>
    <label for="age">Age</label>
    <input type="text" id="age" th:field="*{age}" th:value="${users.age}" required>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
    <br><br>
    <label for="password">Password</label>
    <input type="text" id="password" th:field="*{password}" th:value="${users.password}" required>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name error</div>
    <br><br>
    <label for="role">Role</label>
    <input type="text" id="role" th:field="*{roles}" th:value="${roles.name}" required>
    <div style="color: red" th:if="${#fields.hasErrors('role')}" th:errors="*{roles}">Name error</div>
    <br><br>
    <button type="submit">update user</button>
</form>
</body>